/*
ANTERA: LEADS - REPLICA
Author: 'eberry@anterasoftware.com'
This code is brought to you by Elwood Berry @ anterasoftware.com  
*/
.replica-leads-list {
  width: 100%;

  // DETAIL ROW - 'example-detail-row'
  tr.antera-leads-detail-row {
    height: 0;
  }

  // EXPANDED ROW - 'example-expanded-row'
  tr.antera-leads-element-row:not(.antera-leads-expanded-row):hover {
    background: rgb(238, 238, 238);
    cursor: pointer;
  }

  tr.antera-leads-element-row:not(.antera-leads-expanded-row):active {
    background: rgb(221, 221, 221);
    cursor: pointer;
  }

  .antera-leads-expanded-row td {
    border-bottom-width: 0;
  }

  // ELEMENT DETAIL - 'example-element-detail'
  .antera-leads-element-detail {
    overflow: hidden;
    display: flex;
  }
}
